<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="SpringBootNativeSettings">
    <option name="linkedExternalProjectsSettings">
      <NativeProjectSettings>
        <option name="externalProjectPath" value="-DebugSession-" />
        <option name="runConfigurationId" value="SearchServiceApplication" />
      </NativeProjectSettings>
    </option>
  </component>
</project>